<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chengxg.smallcar" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SmallCar</name>
    <description>
        对智能小车进行控制
    </description>
    <author email="2496033368@qq.com" href="http://smallcar.chengxg.com">
        chengxg
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cxg-plugin-bluetoothSerial" spec="../my-plugin/bluetoothSerial" />
    <engine name="android" spec="^7.0.0" />
    <plugin name="cxg-plugin-wifiManage" spec="../my-plugin/wifiManage" />
</widget>
